<section id="contact" class="connect-section">
  <img src="/assets/shapes/shape3.png" class="contact-shape contact-shape-1" />
  <img src="/assets/shapes/shape1.png" class="contact-shape contact-shape-2" />

  <div class="connect-container">
    <h2 class="connect-heading">Connect With Us</h2>

    <div class="connect-grid">
      <div class="connect-card">
        <div class="contact-method">
          <h3>Prakhar Patil</h3>
          <p>Prakhar.Patil@iiitb.ac.in</p>
        </div>
        <div class="contact-method">
          <h3>Vaibhav Dewangan</h3>
          <p>Vaibhav.Dewangan@iiitb.ac.in<</p>
        </div>
      </div>

      <div class="connect-card">
        <div class="social-links">
          <a href="#">
            <img src="assets/icons/github-icon.png" class="social-icon" />
          </a>
          <a href="#">
            <img src="assets/icons/linkedin-icon.png" class="social-icon" />
          </a>
          <a href="#">
            <img src="assets/icons/twitter-icon.png" class="social-icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
